{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block stylesheets %}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
    <style>
        form {
            width: 40vh;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.birthday) }}
    {{ form_row(registrationForm.submitRegister, {'attr': {'class': 'btn btn-primary btn-lg btn-block'}}) }}
    <p>Déjà un compte ? <a href="{{ path('app_login') }}">Cliquez ici</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                language: 'fr'
            });
        });
    </script>
{% endblock %}
