{% extends 'base.html.twig' %}
{% block title %}Mon panier{% endblock %}

{% block stylesheets %}
    <style>
        select option:nth-child(2)[selected] {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    {% if error|default %}
        <div class="alert alert-danger" role="alert">
            Une erreur est survenue lors de la création de votre commande. Veuillez réessayer ultérieurement.
        </div>
    {% endif %}

    {% if updateStock|default %}
        <div class="alert alert-warning" role="alert">
            Le stock d'un de vos articles a changé.
        </div>
    {% endif %}
    <a href="{{ last_page }}" class="btn btn-outline-primary " role="button" aria-pressed="true">Revenir en arrière</a>
    <h2 class="test"></h2>
    {% if products | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td><img class="card-img-top img-fluid" src="{{ url }}/{{ item.product.imagePath }}" style="width:50px;height:50px;" alt=""></td>
                        <td id="price">{{ item.product.price }}€</td>
                        <td>
                            <select name="quantity" id="quantity">
                                {% set max = (item.product.stock > 10) ? 9 : item.product.stock  %}
                                {% for i in 1..max %}
                                    {% if i == item.quantity %}
                                        <option value="{{ item.quantity }}" disabled selected id="active_option">{{ item.quantity }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" value="{{ item.product.id }}" />
                        </td>
                        <td id="price_x_quantity">{{ item.product.price * item.quantity }}€</td>
                        <td>
                            <a href="{{ path('removeBasket', {'id': item.product.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="3" class="text-right">Total :</td>
                <td id="total">{{ total }}€</td>
                <td></td></tr>
            </tfoot>
        </table>
        <div class="w-25 m-auto">
            <a href="{{ path('order_create') }}" class="btn btn-outline-success btn-block" role="button" aria-disabled="true">
                <i class="fas fa-shopping-cart"> Confirmer la commande</i>
            </a>
        </div>
    {% else %}
        <h3>Panier vide</h3>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        console.log('It\s working!');
        $(function () {
            $('.test').append('Hello');
            $('#quantity').on('change', function(e) {
                let select = $(this);
                let idProduct = $(this).parents().find('input').val();

                $.ajax({
                    url: '{{ path('change_quantity1') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'quantity': select.val(),
                        'idProduct': idProduct
                    },
                    async: true,
                    success: function(data) {

                        let oldOption = select.find('#active_option');
                        oldOption.removeAttr('id selected disabled');


                        let newOption = select.find('option[value=\'' + data.quantity + '\']');
                        newOption.attr({
                            disabled: 'disabled',
                            id: 'active_option',
                            selected: true
                        });

                        let parent = select.parents().parents();
                        let uniquePrice = parseFloat(parent.find('#price').html());

                        let total = parseFloat(parent.find('#total').html());

                        let oldTotalProduct = parseFloat(parent.find('#price_x_quantity').html());
                        let newTotalProduct = uniquePrice * data.quantity;

                        parent.find('#price_x_quantity').html(newTotalProduct + '€');
                        parent.find('#total').html(total - oldTotalProduct + newTotalProduct + '€');
                    }
                })
            })
        });
    </script>
{% endblock %}
